<div class="example-button-container">
  <button class="file-upload" mat-fab color="warn" (click)="fileUpload.click()">
    <mat-icon>backup</mat-icon>
    <input
      multiple
      type="file"
      accept="image/*"
      class="file-input d-none"
      (change)="onFileSelected($event)"
      #fileUpload
    />
  </button>
</div>
