<mat-card-header>
  <mat-card-title>Facial recognition</mat-card-title>
</mat-card-header>
<mat-card-content class="d-flex justify-content-around h-75">
  <ng-container *ngIf="!azureFaceDetectService.verifiedFiles[0]">
    <h2 class="p-3 d-flex justify-content-center align-items-center">
      Please upload 2 images.
    </h2>
  </ng-container>
  <ng-container *ngIf="azureFaceDetectService.loading">
    <div class="d-flex justify-content-center m-5">
      <div class="spinner-border text-secondary m-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-container>
  <ng-container
    *ngIf="
      azureFaceDetectService.faceVerificationData$
        | async as faceVerificationData
    "
  >
    <div class="m-0 w-75">
      <ng-container>
        <div class="d-flex flex-row">
          <app-image-with-face-rectangle
            [image]="azureFaceDetectService.verifiedFiles[0]"
            [detectionImage]="azureFaceDetectService.verificationImages[0]"
            [faceData]="[faceVerificationData.firstFace]"
          ></app-image-with-face-rectangle>
          <app-image-with-face-rectangle
            [image]="azureFaceDetectService.verifiedFiles[1]"
            [detectionImage]="azureFaceDetectService.verificationImages[1]"
            [faceData]="[faceVerificationData.secondFace]"
          ></app-image-with-face-rectangle>
        </div>
      </ng-container>
      <mat-panel-description>
        <div class="d-flex flex-column">
          <ng-container>
            <h3 class="p-5">
              <strong>Response: </strong>
              {{
                faceVerificationData?.verificationResult?.isIdentical
                  ? "The faces are identical. "
                  : "The faces belong to different people. "
              }}
              Confidence:
              {{ faceVerificationData?.verificationResult?.confidence }}
            </h3>
          </ng-container>
        </div>
      </mat-panel-description>
    </div>
  </ng-container>
</mat-card-content>
<mat-card-actions class="px-3 d-flex flex-row-reverse">
  <file-upload
    [onFileSelectedAction]="onFileUploaded"
    class="justify-content-end"
  ></file-upload>
</mat-card-actions>
