<mat-card-header>
  <mat-card-title>Face detection</mat-card-title>
</mat-card-header>
<mat-card-content class="d-flex justify-content-around h-75">
  <ng-container *ngIf="!azureFaceDetectService.selectedFile">
    <h2 class="p-3 d-flex justify-content-center align-items-center">
      Upload an image :)
    </h2>
  </ng-container>
  <ng-container *ngIf="azureFaceDetectService.selectedFile">
    <app-image-with-face-rectangle
      [image]="azureFaceDetectService.selectedFile"
      [faceData]="azureFaceDetectService.faceResponseData$ | async"
      [detectionImage]="azureFaceDetectService.detectionImage"
      class="w-50 pt-4"
    ></app-image-with-face-rectangle>
    <div class="p-2 w-50 overflow-scroll">
      <h2>Detection result:</h2>
      <div
        *ngIf="azureFaceDetectService.loading"
        class="d-flex justify-content-center"
      >
        <div class="spinner-border text-secondary m-5" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div
        *ngIf="(azureFaceDetectService.faceResponseData$ | async)?.length === 0"
        class="text-danger"
      >
        No face detected.
      </div>
      <div
        *ngFor="let face of azureFaceDetectService.faceResponseData$ | async"
      >
        <div class="py-1">
          <detection-result [face]="face"></detection-result>
        </div>
      </div>
    </div>
  </ng-container>
</mat-card-content>
<mat-card-actions class="px-3 d-flex flex-row-reverse">
  <file-upload
    [onFileSelectedAction]="onFileUploaded"
    class="justify-content-end"
  ></file-upload>
</mat-card-actions>
