<mat-sidenav-container class="h-100 bg-dark">
  <mat-sidenav
    mode="side"
    opened
    class="navbar bg-light flex-column h-100"
    style="width: 180px"
  >
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a
          class="nav-link bg-dark text-light my-2 mt-5"
          [routerLink]="['/', '/detection']"
          >Detection</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-dark bg-dark text-light my-2"
          [routerLink]="['/', 'recognition']"
          >Recognition</a
        >
      </li>
    </ul>
  </mat-sidenav>
  <div class="d-flex justify-content-center h-100 py-5">
    <mat-card class="example-card w-75 bg-light">
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</mat-sidenav-container>
