<div class="m-0" style="width: 80%">
  <div
    class="position-relative"
    style="width: fit-content; height: fit-content"
  >
    <ng-container *ngIf="this.image">
      <img
        class="m-0 w-100"
        style="object-fit: scale-down"
        mat-card-image
        [src]="this.image"
        alt="Uploaded photo"
      />
    </ng-container>
    <ng-container>
      <div
        *ngFor="let face of this.faceData"
        style="position: absolute; border: 3px solid red"
        [style.top.%]="
          100 * (face.faceRectangle.top / this.detectionImage.height)
        "
        [style.left.%]="
          100 * (face.faceRectangle.left / this.detectionImage.width)
        "
        [style.width.%]="
          100 * (face.faceRectangle.width / this.detectionImage.width)
        "
        [style.height.%]="
          100 * (face.faceRectangle.height / this.detectionImage.height)
        "
      ></div>
    </ng-container>
  </div>
</div>
