<div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          Face attributes
          <small class="px-2">{{ face.faceId }}</small></mat-panel-title
        >
      </mat-expansion-panel-header>
      <mat-panel-description>
        <div class="d-flex flex-column">
          <ng-container *ngIf="face.faceAttributes.age as age">
            <div><strong>Age: </strong> {{ age }}</div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.emotion as emotion">
            <strong>Emotion: </strong>
            <div class="ml-3">Anger: {{ emotion.anger }}</div>
            <div class="ml-3">Contempt: {{ emotion.contempt }}</div>
            <div class="ml-3">Disgust: {{ emotion.disgust }}</div>
            <div class="ml-3">Fear: {{ emotion.fear }}</div>
            <div class="ml-3">Happiness: {{ emotion.happiness }}</div>
            <div class="ml-3">Neutral: {{ emotion.neutral }}</div>
            <div class="ml-3">Sadness: {{ emotion.sadness }}</div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.facialHair as facialHair">
            <strong>Facial hair: </strong>
            <div class="ml-3">Beard: {{ facialHair.beard }}</div>
            <div class="ml-3">Moustache: {{ facialHair.moustache }}</div>
            <div class="ml-3">Sideburns: {{ facialHair.sideburns }}</div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.gender as gender">
            <div><strong>Gender: </strong> {{ gender }}</div></ng-container
          >
          <ng-container *ngIf="face.faceAttributes.glasses as glasses">
            <div><strong>Glasses: </strong> {{ glasses }}</div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.hair as hair"
            ><strong>Hair: </strong>
            <div class="ml-3"><em>Bald:</em> {{ hair.bald }}</div>
            <div class="ml-3"></div>
            <div class="ml-3"><em>Hair color:</em></div>
            <div class="ml-4" *ngIf="hair.hairColor as hairColor">
              <div *ngFor="let color of hairColor">
                <em>{{ color.color }}</em
                >: confidence {{ color.confidence }}
              </div>
            </div>
            <div class="ml-3"><em>Invisible: </em>{{ hair.invisible }}</div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.makeup as makeup"
            ><strong>Makeup: </strong>
            <div class="ml-3">Eye makeup: {{ makeup.eyeMakeup }}</div>
            <div class="ml-3">Lip makeup: {{ makeup.lipMakeup }}</div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.smile as smile">
            <div>
              <strong>Smile: </strong>
              {{ smile }}
            </div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.occlusion as occlusion"
            ><strong>Occlusion: </strong>
            <div class="ml-3">Eye occluded: {{ occlusion.eyeOccluded }}</div>
            <div class="ml-3">
              Mouth occluded: {{ occlusion.mouthOccluded }}
            </div>
            <div class="ml-3">
              Forehead occluded: {{ occlusion.foreheadOccluded }}
            </div>
          </ng-container>
          <ng-container *ngIf="face.faceAttributes.noise as noise"
            ><strong>Noise: </strong>
            <div class="ml-3">Noise level: {{ noise.noiseLevel }}</div>
            <div class="ml-3">Value: {{ noise.value }}</div>
          </ng-container>
          <ng-container>
            <strong *ngIf="face.faceAttributes.accessories.length > 0"
              >Accessories:</strong
            >
            <div
              class="ml-4"
              *ngIf="face.faceAttributes.accessories as accessories"
            >
              <div *ngFor="let accessory of accessories">
                <em>{{ accessory.type }}</em
                >: confidence {{ accessory.confidence }}
              </div>
            </div>
          </ng-container>
        </div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
